<div class="main">

    <div class="left">

        <a id="header">musicaly</a>

        <a routerLink="/home" routerLinkActive="active-link" id="home-nav">Home</a>

        <a routerLink="/favorites" routerLinkActive="active-link" id="favorites-nav">Favorites</a>

        <a id="log-out-nav" (click)="logOut()">Log out</a>


    </div>


    <div class="right">

        <input type="search" class="search-bar" placeholder="Search songs, artists..." [(ngModel)]="searchText" ngModel [ngModelOptions]="{standalone: true}">

        <h1 id="tracks-header">Favorite Tracks</h1>

        <div class="title-container">
            <h4 id="track-title">Song</h4>
            <h4 id="artist-title">Artist</h4>
            <h4 id="album-title">Album</h4>
            <h4 id="duration-title">Duration</h4>
        </div>




        <hr id="tracks-line" size="1px">

        <div class="tracks">

            <div class="track-box" *ngFor="let song of songs | filter:searchText">

                <div class="track-card" (click)="openPopUp(song)">

           
                        <img src="/assets/images/small-play.svg" alt="">

                       
          
                        

                    <div id="song-box">

                        <p id="song-name">{{song.song_name}}</p>

                    </div>

                   <div id="artist-box">
                    <p id="artist">{{song.artist_name}}</p>
                   </div>

               <div id="album-box">
                <p id="album">{{song.album_name}}</p>
               </div>

               <div id="duration-box">

                <p id="duration">{{song.duration}}</p>

               </div>
                    
        

                </div>
              
    
    
    
            </div>
        </div>
        

    </div>

   
    

</div>