<div mat-dialog-content class="container">

    <div class="details">



        <h3>Song: {{song.song_name}}</h3>
        <h3>Artist: {{song.artist_name}}</h3>
        <h3>Album: {{song.album_name}}</h3>
        <h3>Duration: {{song.duration}}</h3>
        <h3>Rating: {{song.rating}}/5</h3>

        <div id="button-container">

            <button mat-raised-button id="delete-button" (click)="deleteSong(song)">Delete song</button>


            <div *ngIf="currentState == 'home'; else elseBlock">
                <button mat-raised-button id="button" (click)="addToFavorites(song)">Add to Favorites</button>
            </div>

            <ng-template #elseBlock>
                <button mat-raised-button id="button" (click)="removeFromFavorites(song)">Remove from favorites</button>
            </ng-template>

        </div>

    </div>






</div>