
body{

    background-color: #141414;
}
.container{

    height: 400px;
    width: 600px;
    background-color: #141414;
    color: white;
    text-align: center;
    

}

.details {
    width: 100%;
    height: 100%;
    margin: 20px;
    margin-left: 0px;
}

::ng-deep .custom-dialog {
    mat-dialog-container {
      padding: 0;
    }
  }

#button {

    background-color: #ee665c;
    color: white;
    font-size: medium;
    margin-left: 10px;

}

#button-container {


    display: flex;
    flex-direction: row;
    justify-content: center;



}

#delete-button {
    margin-right: 10px;

    background-color: #141414;
    border: 1px solid #ee665c;
    color: #ee665c;
}

